h1{
    color: blue;
    text-align: center;
}

button{
    padding:16px 32px;
    text-align: center;
    text-decoration: none;
    display:inline-block;
    font-size: 16px;
    margin:4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white; 
    color: black; 
    border: 2px solid #f44336;
  
    
}
  
button:hover {
    background-color: red;
    color: white;
  }


  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  /* Default light theme */
  :root { 
    --primary-color: #302AE6; 
    --secondary-color: #536390; 
    --text-color: #424242; 
    --background-color: #fff; 
    --heading-color: #292922; 
} 
  
/* Dark theme */
[theme="dark"] { 
    --primary-color: #9A97F3; 
    --secondary-color: #818cab; 
    --text-color: #e1e1ff; 
    --background-color: #161625; 
    --heading-color: #818cab; 
} 
  
/* Adding css variable in our webpage */
body { 
    background-color: var(--background-color); 
    color: var(--text-color); 
} 
  
h1 { 
    color: var(--secondary-color); 
} 
  
a { 
    color: var(--primary-color); 
} 
  
/* Slider styling */
.theme-switch-container { 
    display: flex; 
    align-items: center; 
} 
  
.theme-slider { 
    display: inline-block; 
    height: 34px; 
    position: relative; 
    width: 60px; 
} 
  
.theme-slider input { 
    display: none; 
} 
  
.slider { 
    background-color: black; 
    bottom: 0; 
    cursor: pointer; 
    left: 0; 
    position: absolute; 
    right: 0; 
    top: 0; 
    transition: .4s; 
} 
  
.slider:before { 
    background-color: white; 
    bottom: 4px; 
    content: ""; 
    height: 26px; 
    left: 4px; 
    position: absolute; 
    transition: .4s; 
    width: 26px; 
} 
  
input:checked+.slider.round{ 
    background-color:white; 
} 
  
input:checked+.slider:before { 
    background-color: black;
    transform: translateX(26px); 
} 
  
.slider.round { 
    border-radius: 34px; 
} 
  
.slider.round:before { 
    border-radius: 50%; 
}

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class - hide and show the popup */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }

  .popup .hide {
    visibility: hidden;
    
  }

  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }
  